<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Alex Beaudin's personal academic website">
    <meta name="keywords"
        content="Alex Beaudin, UC Berkeley, Beaudin, Control, Robotics, AI, Machine Learning, Murat Arcak, BAIR">
    <meta name="author" content="Alex Beaudin">

    <title>Alex Beaudin</title>
    <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" href="/css/generated.css">
    <link rel="stylesheet" href="/js/assets/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-…"
        crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body,{
          delimiters: [
            {left:'$$', right:'$$', display:true},
            {left:'$',  right:'$',  display:false}
          ]
        });">
        </script>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-content">
                <div class="header-flex">
                    <a href="/" class="brand">
                        <span class="brand-name">Home</span>
                    </a>
                    <div class="nav-links">
                        <a href="https://www.linkedin.com/in/alex-beaudin" class="nav-link">LinkedIn</a>
                        <a href="https://github.com/Beau-Coup" class="nav-link">GitHub</a>
                        <a href="{{ get_url(path='@/research/_index.md') }}" class="nav-link">Research</a>
                        <a href="{{ get_url(path='@/projects/_index.md') }}" class="nav-link">Projects</a>
                        <a href="/cv.pdf" class="nav-link" attributes-list download="beaudin-cv">CV</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="main-content">
        {% block content %}{% endblock content %}
    </main>

    <footer class="text-center pb-[1rem] text-xs">
        <p class="text-xs">&copy; {{ now() | date(format="%Y") }} Alex Beaudin. All rights reserved.</p>
    </footer>
</body>

</html>
