{% extends "base.html" %}

{% block content %}
<h2 class="title">
    Research Projects
</h2>

<ul class="pub-list">
    {% for page in section.pages %}
    <li class="pub-item">
        <div class="pub-image">
            <img src="{{ page.extra.image }}" alt="{{ page.title }} thumbnail">
        </div>

        <div class="pub-details">
            <a href="{{ page.permalink | safe }}"><strong>{{ page.title }}</strong></a>
            <p>{{ page.extra.authors }}</p>
            <p><em>{{ page.extra.location }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
